.hierachy {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .title {
        font-size: 20px;
        font-family: sans-serif;
        padding: 20px;
    }
    
    .main {
        width: 90%;
        height: 70%;
        border: 2px solid var(--ui-theme-color);
        border-radius: 10px;
        display: flex;
        
        .section {
            width: calc(100% / 3);
            margin: 20px 0;
            overflow: scroll;
            overflow-x: hidden;
        }
        
        /* Branches */
        .branches {
            
            .branch {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 4px solid black;
                padding: 20px;
                margin: 20px;
                text-align: right;
                
                .icon {
                    text-align: center;
                    font-size: 30px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: var(--ui-theme-color);
                    color: white;
                }
            }
        }
        
        /* Members */
        .members {
            width: 50%;
            
            .lead {
                display: flex;
                align-items: center;
                justify-content: space-around;
                background: black;
                color: white;
                padding: 10px;
                margin: 20px;
                border-radius: 10px;
                
                .profile {
                    font-size: 40px;
                }
                
                .icons {
                    .ctrls {
                        svg {margin: 0 3px}
                    }
                }
                
                .info {
                    text-align: center;
                    font-size: 15px;
                }
            }
            
            .staff {                
                .member {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 5px solid var(--ui-theme-color);
                    padding: 20px;
                    margin: 20px;
                    text-align: right;
                    background: #d1d1d1;
                    border-radius: 5px 5px 3px 3px;
                    
                    .icons {
                        .profile {
                            text-align: center;
                            font-size: 50px;
                        }
                        
                        .ctrls {
                            text-align: center;
                            font-size: 10px;
                            color: white;
                            
                            svg {
                                border-radius: 3px;
                                margin: 0 3px;
                                padding: 5px;
                                width: 15px;
                                height: 15px;
                                cursor: pointer;
                            }
                            #remove {background: red}
                            #forward {background: rgb(155, 132, 0)}
                        }
                    }
                }
            }
        }
        
        .blank {
            ::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--ui-theme-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--ui-theme-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}